/* General */

/* * {outline: 1px solid red;} */

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding-left: 5px;
    font-size: 16px;
}

/* Header: top */

ul {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 20px 150px 100px 150px;
}

.header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header .links {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.header .logo-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
}

/* Header: bottom */ 

.header .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

.header .sub-text {
    margin-top: 0;
}

.header .bottom-container {
    display: flex;
    
}

.header .text-button {
    flex-wrap: wrap;
}






